
<link rel="stylesheet" type="text/css" href="css/google-maps.css"/>

<section>

   <div class="panel panel-default">
        <div class="panel-heading" style="    background: -webkit-linear-gradient(top, rgba(31, 200, 219, 0), rgba(31, 200, 219, 1));
    background: -o-linear-gradient(top, rgba(31, 200, 219, 0), rgba(31, 200, 219, 1));
    background: -moz-linear-gradient(top,rgba(31, 200, 219, 0), rgba(31, 200, 219, 1));
    background: linear-gradient(to top, rgba(31, 200, 219, 0), rgba(31, 200, 219, 1));
    color: #fff;
    font-size: 30px;border: 0px solid #ffffff;
    font-family: 'Lobster', cursive;"><span>Contact US</span></div>
  <div class="panel-body">
      
      <div>
          <div class="col-xs-12" style="text-align:center;">
             <span style="color:#0fb8ad;font-size:75px; font-family: 'Lobster', cursive;text-align:center;">Feel Free.</span><span style="color:#2CB5E8;font-size:75px; font-family: 'Lobster', cursive;text-align:center;"> Say Hey!</span>
          </div>  
          <div id="contact" class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-sm-4"> 
        <div class="contact-addon">
             <span class="glyphicon glyphicon-map-marker contact-icon" aria-hidden="true"></span>
                <span class="contact-value"> <div> 4, Themyam street, </div>
                        <div>Ramasamy Nager, kavundampalayam, </div>    
                            <div>Coimbatore-641030 </div></span>
        </div>
          <div class="contact-addon">
             <span class="glyphicon glyphicon-earphone contact-icon" aria-hidden="true"></span>
              <span class="contact-value"> (+91) 7845535596 </span>
        </div>
          <div class="contact-addon">
             <span class="glyphicon glyphicon-envelope contact-icon" aria-hidden="true"></span>
               <span class="contact-value"> preethisakar7@gmail.com </span>
        </div>
      </div>
          
      </div>
       <div class="pi-google-map"
					 data-map-type="roadmap"
					 data-map-zoom="14"
					 data-map-style="base"
					 data-map-marker="img/marker-base.png"
					 data-map-marker-size="67,81"
					 data-map-marker-anchor="33,81"
					 data-map-address="14 Wall Street New York, NY 10005">
        </div>
  </div>
</div>
    
    <!--<script src="js/pi.googleMapStyles.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script src="js/jquery.gmap.min.js"></script>
    <script src="js/pi.init.map.js"></script>
</section>